* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #0a141d;
  font-family: "Helvetica";
  color: white;
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.main {
  width: 750px;
  margin: 50px auto 0px;
}

#page-one {
  min-height: 100vh;
  border-bottom: 1px solid gray;
}

#page-two {
  padding-top: 50px;
  margin-bottom: 5px;
  min-height: 100vh;
}

.topbar-container {
  display: flex;
}

.topbar-status {
  font-family: "Menlo", monospace;
  font-size: 11px;
  width: fit-content;
  padding: 5px;
  margin-right: 8px;
}

.current-status {
  color: orange;
  border: 1px solid orange;
}

.bio-text {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.bio-subtext {
  color: rgb(160, 160, 160);
  font-size: 16px;
  line-height: 22px;
}

.social-links a {
  color: #57e2da;
  font-size: 16px;
}

.social-links a:hover {
  color: #1aa8a1;
}

.bio-box {
  margin-bottom: 40px;
}

.section-box {
  margin-bottom: 80px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.experience-description {
  font-size: 16px;
  color: rgb(160, 160, 160);
  line-height: 22px;
  margin-left: 10px;
}

.project-description {
  font-size: 16px;
  color: rgb(160, 160, 160);
  line-height: 22px;
  margin-bottom: 38px;
  margin-left: 10px;
  background-color: #1f293794;
  padding: 20px;
  border-radius: 3px;
}

.project-title {
  font-size: 18px;
  margin-bottom: 20px;
}

.project-description a {
  color: #57e2da;
  font-weight: bold;
  text-decoration: none;
}

.project-description a:hover {
  color: #1aa8a1;
  font-weight: bold;
}

.strava-container iframe {
  transform-origin: top left;
  scale: calc(0.8);
}

.scroll-button {
  font-size: 14px;
  margin-bottom: 30px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 7px;
  border-color: #57e2da;
  color: #57e2da;
}

.scroll-button:hover {
  cursor: pointer;
  background-color: #57e2da;
  color: black;
}

@media screen and (max-width: 1000px) {
  .main {
    width: 600px;
  }

  .bio-text {
    font-size: 36px;
  }

  .bio-box {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .main {
    width: 100%;
    margin: 20px 20px;
  }

  .bio-text {
    font-size: 36px;
  }

  .section-box {
    margin-bottom: 35px;
  }

  .social-links a {
    font-size: 12px;
  }
}
